#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 5rem;
  height: 5rem;
  border-radius: 10%;
  overflow: hidden;
  margin: 1rem;
  background-color: white;
  will-change: filter;
  transition: filter 300ms;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
